* {
  padding: 0px;
  margin: 0px;
  border: none;
}

body {
  background: linear-gradient(to left, #000000, #ffffff);
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}
